<div id="<%= dom_id comment %>">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter_id %>
  </p>

  <p>
    <strong>Commented to:</strong>
    <%= comment.commented_to_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= comment.created_at %>
  </p>

</div>
