<div id="<%= dom_id subscription %>">
  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

  <p>
    <strong>Follows:</strong>
    <%= subscription.follows_id %>
  </p>

  <p>
    <strong>Followers:</strong>
    <%= subscription.followers_id %>
  </p>

</div>
